<!-- Navigation -->
    <div id="home">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><i class="fas fa-star"></i> PentaStar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">Despre Noi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Camere</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class=" text-white header-frontEnd">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active test" style="background-image: url('https://source.unsplash.com/ssOtyGE8CyE/1920x1080')"></div>
            </div>
            </div>
        </header>

        <section id="about">
            <div class="container">

                <!-- Portfolio Item Heading -->
                <h1 class="my-4">
                    Servicii de calitate
                </h1>

                <!-- Portfolio Item Row -->
                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid" src="~/Content/img/camera.jpg" alt="">
                    </div>

                    <div class="col-md-4">
                        <h3 class="my-3">O experienta unica</h3>
                        <p>LPentru ca experienta de-a lungul anilor ne-a invatat ca d-voastra sunteti cei mai importanti, va invitam sa savurati noi experiente, care sa va aduca exact acolo unde este pozitionat hotelul nostru, la inaltime.</p>
                        <h3 class="my-3">Ce va oferim</h3>
                        <ul>
                            <li>Acces la piscina, sauna si sala fitness</li>
                            <li>Accesorii baie</li>
                            <li>Conexiune de internet WI FI</li>
                            <li>Mic dejun</li>
                        </ul>
                    </div>

                </div>
                <!-- /.row -->
            </div>
        </section>

        <section id="services" class="bg-light pricing py-5">
            <div class="container">
                <div class="row">
                    <!-- Free Tier -->
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Camera Standard</h5>
                                <h6 class="card-price text-center">180 RON<span class="period">/noapte</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Acces la piscina, sauna si sala fitness</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Accesorii baie</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Conexiune de internet WI FI</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Control independent aer conditionat</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Linie telefonica directa</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Mic dejun</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Minibar</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Sistem de acces in camere cu card</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Numar paturi: 1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Plus Tier -->
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Camera Double</h5>
                                <h6 class="card-price text-center">220 RON<span class="period">/noapte</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Acces la piscina, sauna si sala fitness</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Accesorii baie</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Conexiune de internet WI FI</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Control independent aer conditionat</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Linie telefonica directa</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Mic dejun</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Minibar</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Sistem de acces in camere cu card</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Numar paturi: 2</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Pro Tier -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">Camera Tripla</h5>
                                <h6 class="card-price text-center">360 RON<span class="period">/noapte</span></h6>
                                <hr>
                                <ul class="fa-ul">
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Acces la piscina, sauna si sala fitness</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Accesorii baie</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Conexiune de internet WI FI</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Control independent aer conditionat</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Linie telefonica directa</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Mic dejun</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Minibar</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Sistem de acces in camere cu card</li>
                                    <li><span class="fa-li"><i class="fas fa-check"></i></span>Numar paturi: </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Solicita o Rezervare!</h2>
                        <hr class="divider my-4">
                        <p class="text-muted mb-5">Ne puteti contacta telefonic sau prin email folosind linkurile de mai jos.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>+1 (202) 555-0149</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <a class="d-block" href="mailto:rezervari@pentastar.com?subject=Cerere Rezervare&body=Buna ziua. Doresc sa solicit o rezervare. %0D%0A%0D%0A  Data Sosirii: %0D%0A%0D%0A Data Plecarii: %0D%0A%0D%0A Tipul camerei: %0D%0A%0D%0A Numar Camere: %0D%0A%0D%0A Nume: %0D%0A%0D%0A Prenume: %0D%0A%0D%0A CNP: %0D%0A%0D%0A Seria si Nr. Buletin: %0D%0A%0D%0A Email: %0D%0A%0D%0A Telefon: %0D%0A%0D%0A Tara de provenienta: %0D%0A%0D%0A Alte Mentiuni: %0D%0A%0D%0A %0D%0A%0D%0A">rezervari@pentastar.com</a>


                    </div>
                </div>
            </div>
        </section>

        @*<section id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Solicita o rezervare!</h2>
                        <hr class="divider my-4">
                        <p class="text-muted mb-5">Ne puteti contacta telefonic sau puteti solicita o rezervare prin formularul de mai jos.</p>
                    </div>
                </div>
                <form>
                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <label for="validationDefault01">Nume</label>
                            <input type="text" class="form-control" id="validationDefault01" data-bind="textInput: newClientLastName" placeholder="Nume" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationDefault02">Prenume</label>
                            <input type="text" class="form-control" id="validationDefault02" data-bind="textInput: newClientFirstName" placeholder="Prenume" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationDefaultUsername">CNP</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="validationDefaultUsername" data-bind="textInput: newClientCnp" placeholder="CNP" aria-describedby="inputGroupPrepend2" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <label for="validationDefault03">Seria & Nr</label>
                            <input type="text" class="form-control" id="validationDefault03" data-bind="textInput: newClientIdentityCard" placeholder="Seria & Nr" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationDefault04">Email</label>
                            <input type="text" class="form-control" id="validationDefault04" data-bind="textInput: newClientEmail" placeholder="Email" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationDefault05">Telefon</label>
                            <input type="text" class="form-control" id="validationDefault05" data-bind="textInput: newClientPhone" placeholder="Telefon" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <label for="validationDefault04">Tara</label>
                            <input type="text" class="form-control" id="validationDefault04" data-bind="textInput: newClientNationality" placeholder="Tara" required>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationDefault05">Data Sosire</label>
                            <input type="text" class="form-control" id="validationDefault05"  placeholder="Data Sosire" required >
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationDefault03">Data Plecare</label>
                            <input type="text" class="form-control" id="validationDefault03" placeholder="Data Plecare" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label for="validationDefault03">Tip Camera</label>
                                <div class="bg-danger text-dark"></div>

                                <select class="form-control">
                                    <option>Single</option>
                                    <option>Double</option>
                                    <option>Triple</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <p>Disponibilitate </p>
                                <p> <i class="fas fa-door-open"></i> <span class="free-rooms" data-bind="">0</span> camere libere.</p>
                            </div>
                            <div class="col-4 send-button">
                                <button class="btn btn-success form-control" type="submit"><i class="fas fa-paper-plane"></i> Rezerva</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </section>*@

        <!-- Footer -->
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
            <!-- Footer Elements -->
            <div class="container">
                <ul class="list-unstyled list-inline text-center py-2">
                    <li class="list-inline-item">
                        <button id="login-button" class="btn btn-primary login-button">
                            @Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = "/Dashboard" }, htmlAttributes: new { id = "loginLink", @class = "text-white" })
                        </button>
                    </li>
                </ul>
            </div>
            <div class="footer-copyright text-center py-3 text-white">
                © 2019 Copyright:
                <a href="#" class="text-warning"><i class="fas fa-star"></i> PentaStar</a>
            </div>
        </footer>
    </div>
<!-- Footer -->

<script>

   var keyToPressCode = 192;

    document.body.onkeydown = function (keyPressed) {
        if (keyPressed.keyCode == keyToPressCode) {
        document.getElementById('login-button').style.display = "block";
        }
     };

</script>



@*@section scripts {
    <script>
        ko.bindingHandlers.pikaday = {
            init: function (element) {
                var picker = new Pikaday({ field: element, format: 'MM-DD-YYYY' });
            }
        }

    require(['home.viewModel'],function(homeViewModel){
        console.log('got home viewmodel');
        console.log(home);
        ko.applyBindings(homeViewModel, document.getElementById('contact'));
    });
    </script>
}*@