<div id="header" class="sticky-top">
    <nav data-bind="visible: backendHeader" class="navbar navbar-light bg-info">
        <span class="navbar-brand mb-0 h1 mx-auto header-title">PentaStar</span>
    </nav>
</div>
