
body {
    counter-reset: current-row;
    background-color: #F1F2F7;
}

.table thead th {
    vertical-align: middle;
}

.table td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.content-loading {
    display: none;
}

.validationMessage {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#jobTypes, #clients, #roomTypes input {
    max-width: 100%;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.knockout-autocomplete.floating-menu {
    z-index: 99999 !important;
    }