<div id="employees" data-bind="visible: isViewVisible">

    @*Employees Tabel*@
    <div class="container-fluid">
        <table id="employee-table" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nume</th>
                    <th scope="col">Prenume</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Job</th>
                    <th scope="col"><button type="button" class="btn btn-success" data-bind="click: clearInputs" data-toggle="modal" data-target="#employeesModal" data-whatever="getbootstrap"><i class="fas fa-plus"></i>Adauga Angajat</button></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: employees.pageItems">
                <tr>
                    <td data-bind="text: LastName"></td>
                    <td data-bind="text: FirstName"></td>
                    <td data-bind="text: UserName"></td>
                    <td data-bind="text: Email"></td>
                    <td data-bind="text: $parent.getJobTypeName(JobTypeId)"></td>
                    <td>
                        <button class="btn btn-danger" data-bind="click: $parent.removeExistingEmployee">Sterge</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#employeesModalEdit" data-bind="click: $parent.editEmployee.bind(null, Id)">Editeaza</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination justify-content-start">
            <li data-bind="css: { disabled: !employees.hasPreviousPage() }" class="previous disabled">
                <a class="page-link" href="#" aria-label="Previous" data-bind="click: employees.toPreviousPage">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <!-- ko foreach: employees.pages -->
            <li data-bind="css: { active: $data == $parent.employees.pageNumber() }">
                <a class="page-link" href="#" data-bind="text: $data, click: $parent.employees.pageNumber.bind($data)"></a>
            </li>
            <!-- /ko -->

            <li data-bind="css: { disabled: employees.isLastPage() }" class="next disabled page-item">
                <a class="page-link" data-bind="click: employees.toLastPage" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>

    @*Modal Popup for adding employees*@
    <div class="modal fade" id="employeesModal" tabindex="-1" role="dialog" aria-labelledby="employeesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeesModalLabel">Adauga Angajat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="EmployeesForm">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="recipient-name" class="col-form-label">Nume:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newEmployeeLastName">

                                <label for="recipient-name" class="col-form-label">Prenume:</label>
                                <input type="text" class="form-control" id="recipient-name" name="firstName" data-bind="textInput: newEmployeeFirstName">

                                <label for="recipient-name" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newEmployeeUsername">

                                <label for="recipient-name" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newEmployeeEmail">
                            </div>

                            <div class="form-group col-md-6">

                                <label>Tip Job</label>
                                <select class="form-control"
                                        data-bind="options: availableJobTypes,
                                               optionsText: 'Type',
                                               value: selectedJobType"></select>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addNewEmployee, enable: newEmployeeFirstName.isValid() && newEmployeeLastName.isValid() && newEmployeeUsername.isValid() && newEmployeeEmail.isValid()" data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Popup for editing employees*@
    <div class="modal fade" id="employeesModalEdit" tabindex="-1" role="dialog" aria-labelledby="employeesModalEditLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeesModalEditLabel">Editeaza Angajat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="recipient-name" class="col-form-label">Nume:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedFirstName">

                                <label for="recipient-name" class="col-form-label">Prenume:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedLastName">

                                <label for="recipient-name" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedUserName">

                                <label for="recipient-name" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedEmail">

                            </div>

                            <div class="form-group col-md-6">

                                <label>Tip Job</label>
                                <select class="form-control"
                                        data-bind="options: availableJobTypes,
                                               optionsText: 'Type',
                                               value: editedJobTypeId, valueAllowUnset: true, optionsValue: 'JobTypeId'"></select>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addEditedEmployee, enable: editedFirstName.isValid() && editedLastName.isValid() && editedUserName.isValid() && editedEmail.isValid()" data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>

</div>

