<div id="employees" data-bind="visible: isViewVisible">

    @*Employees Tabel*@
    <table id="employee-table" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nume</th>
                <th scope="col">Prenume</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Job</th>
                <th scope="col"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#employeesModal" data-whatever="getbootstrap">Adauga Angajat</button></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: employees">
            <tr class="row-counter">
                <th scope="row"></th>
                <td data-bind="text: LastName"></td>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: UserName"></td>
                <td data-bind="text: Email"></td>
                <td data-bind="text: $parent.getJobTypeName(Id)"></td>
                <td> <button class="btn btn-danger" data-bind="click: $parent.removeExistingEmployee">Sterge</button></td>
            </tr>
        </tbody>
    </table>

    @*Modal Popup for adding employees*@
    <div class="modal fade" id="employeesModal" tabindex="-1" role="dialog" aria-labelledby="employeesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeesModalLabel">Adauga Angajat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="recipient-name" class="col-form-label">Nume:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newEmployeeLastName">

                                <label for="recipient-name" class="col-form-label">Prenume:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newEmployeeFirstName">

                                <label for="recipient-name" class="col-form-label">Username:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newEmployeeUsername">

                                <label for="recipient-name" class="col-form-label">Email:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newEmployeeEmail">
                            </div>

                            <div class="form-group col-md-6">

                                <label>Tipul Camerei</label>
                                <select class="form-control"
                                        data-bind="options: availableJobTypes,
                                               optionsText: 'Type',
                                               value: selectedJobType"></select>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addNewEmployee" data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>

</div>

