<div id="jobTypes" data-bind="visible: isViewVisible">

    @*JobTypes Tabel*@
    <div class="container-fluid">
        <table id="jobs-table" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Denumire</th>
                    <th scope="col"><button type="button" class="btn btn-success" data-bind="click: clearInputs" data-toggle="modal" data-target="#jobTypesModal" data-whatever="getbootstrap">Adauga Job</button></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: jobTypes.pageItems">
                <tr>
                    <td data-bind="text: Type"></td>
                    <td>
                        <button class="btn btn-danger" data-bind="click: $parent.removeExistingJobType">Sterge</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#jobTypesModalEdit" data-bind="click: $parent.editJobType.bind(null, JobTypeId)">Editeaza</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination justify-content-start">
            <li data-bind="css: { disabled: !jobTypes.hasPreviousPage() }" class="previous disabled">
                <a class="page-link" href="#" aria-label="Previous" data-bind="click: jobTypes.toPreviousPage">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <!-- ko foreach: jobTypes.pages -->
            <li data-bind="css: { active: $data == $parent.jobTypes.pageNumber() }">
                <a class="page-link" href="#" data-bind="text: $data, click: $parent.jobTypes.pageNumber.bind($data)"></a>
            </li>
            <!-- /ko -->

            <li data-bind="css: { disabled: jobTypes.isLastPage() }" class="next disabled page-item">
                <a class="page-link" data-bind="click: jobTypes.toLastPage" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>

    @*Modal Popup for adding job types*@
    <div class="modal fade" id="jobTypesModal" tabindex="-1" role="dialog" aria-labelledby="jobTypesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jobTypesModalLabel">Adauga Tip Job</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="recipient-name" class="col-form-label">Tip:</label>
                        <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newJobTypeName">


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addNewJobType, enable: newJobTypeName.isValid()" data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Pupup for editing job types*@
    <div class="modal fade" id="jobTypesModalEdit" tabindex="-1" role="dialog" aria-labelledby="jobTypesModalLabelEdit" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jobTypesModalLabelEdit">Adauga Tip Job</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="recipient-name" class="col-form-label">Tip:</label>
                        <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedJobTypeName">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addEditedJobType, enable: editedJobTypeName.isValid()" data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>

</div>

