<div id="roomTypes" data-bind="visible: isViewVisible">

    @*RoomTypes Tabel*@
    <div class="container-fluid">
        <table id="roomTypes-table" class="table" data-pagination-V-Align="bottom">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Denumire</th>
                    <th scope="col">Pret</th>
                    <th scope="col"><button type="button" class="btn btn-success" data-bind="click: clearInputs" data-toggle="modal" data-target="#roomTypesModal" data-whatever="getbootstrap">Adauga Camera</button></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: roomTypes.pageItems">
                <tr>
                    <td data-bind="text: Type"></td>
                    <td data-bind="text: Price"></td>
                    <td>
                        <button class="btn btn-danger" data-bind="click: $parent.removeExistingRoomType">Sterge</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#roomTypesModalEdit" data-bind="click: $parent.editRoomType.bind(null, RoomTypeId)">Editeaza</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination justify-content-start">
            <li data-bind="css: { disabled: !roomTypes.hasPreviousPage() }" class="previous disabled">
                <a class="page-link" href="#" aria-label="Previous" data-bind="click: roomTypes.toPreviousPage">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            <!-- ko foreach: roomTypes.pages -->
            <li data-bind="css: { active: $data == $parent.roomTypes.pageNumber() }">
                <a class="page-link" href="#" data-bind="text: $data, click: $parent.roomTypes.pageNumber.bind($data)"></a>
            </li>
            <!-- /ko -->

            <li data-bind="css: { disabled: roomTypes.isLastPage() }" class="next disabled page-item">
                <a class="page-link" data-bind="click: roomTypes.toLastPage" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>

    @*Modal Popup for adding room types*@
    <div class="modal fade" id="roomTypesModal" tabindex="-1" role="dialog" aria-labelledby="roomTypesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roomTypesModalLabel">Adauga Tip Camera</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="recipient-name" class="col-form-label">Tip:</label>
                        <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newRoomTypeName">

                        <label for="recipient-name" class="col-form-label">Pret:</label>
                        <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newRoomTypePrice">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addNewRoomType, enable: newRoomTypeName.isValid() && newRoomTypePrice.isValid() " data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Popup for editting room types*@
    <div class="modal fade" id="roomTypesModalEdit" tabindex="-1" role="dialog" aria-labelledby="roomTypesModalLabelEdit" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roomTypesModalLabelEdit">Adauga Tip Camera</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="recipient-name" class="col-form-label">Tip:</label>
                        <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedRoomTypeName">

                        <label for="recipient-name" class="col-form-label">Pret:</label>
                        <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedRoomTypePrice">

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addEditedRoomType, enable: editedRoomTypeName.isValid() && editedRoomTypePrice.isValid()" data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>
</div>
