<div id="rooms" data-bind="visible: isViewVisible">

    @*Tabel*@
    <table id="rooms-table" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Camera</th>
                <th scope="col">Etaj</th>
                <th scope="col">Data Ocuparii</th>
                <th scope="col">Data Eliberarii</th>
                <th scope="col">Tipul Camerei</th>
                <th scope="col"><button type="button" data-bind="click: clearInputs" class="btn btn-success" data-toggle="modal" data-target="#roomsModal" data-whatever="getbootstrap">Adauga Camera</button></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: rooms">
            <tr class="row-counter">
                <th scope="row"></th>
                <td data-bind="text: Name">Mark</td>
                <td data-bind="text: Floor">Otto</td>
                <td data-bind="">-</td>
                <td>-</td>
                <td data-bind="text: $parent.getRoomTypeName(RoomTypeId)">Otto</td>
                <td>
                    <button class="btn btn-danger" data-bind="click: $parent.removeExistingRoom">Sterge</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#roomsModalEdit" data-bind="click: $parent.editRoom.bind(null, RoomId)">Editeaza</button>
                </td>
            </tr>
        </tbody>
    </table>

    @*Modal Popup for adding rooms*@
    <div class="modal fade" id="roomsModal" tabindex="-1" role="dialog" aria-labelledby="roomsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roomsModalLabel">Adauga Camera</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="recipient-name" class="col-form-label">Nume:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newRoomName">

                                <label for="recipient-name" class="col-form-label">Etaj:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: newRoomFloorName">
                            </div>
                            
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Tipul Camerei:</label>
                                <select class="form-control"
                                        data-bind="options: availableRoomTypes,
                                               optionsText: 'Type',
                                               value: selectedRoomType">
                                </select>

                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addNewRoom, enable: newRoomName.isValid() && newRoomFloorName.isValid()" data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Popup for editing rooms*@
    <div class="modal fade" id="roomsModalEdit" tabindex="-1" role="dialog" aria-labelledby="roomsModalEditLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="roomsModalEditLabel">Editeaza Camera</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="recipient-name" class="col-form-label">Nume:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedRoomName">

                                <label for="recipient-name" class="col-form-label">Etaj:</label>
                                <input type="text" class="form-control" id="recipient-name" data-bind="textInput: editedRoomFloor">

                            </div>

                            <div class="form-group col-md-6">

                                <label for="recipient-name" class="col-form-label">Tipul Camerei:</label>
                                <select class="form-control"
                                        data-bind="options: availableRoomTypes,
                                               optionsText: 'Type',
                                               value: editedRoomTypeId, valueAllowUnset: true, optionsValue: 'RoomTypeId'"></select>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Inchide</button>
                    <button type="button" class="btn btn-success" data-bind="click: addEditedRoom, enable: editedRoomFloor.isValid() && editedRoomName.isValid()" data-dismiss="modal">Salveaza</button>
                </div>
            </div>
        </div>
    </div>
</div>

