<div id="rooms" data-bind="visible: isViewVisible">
    Rooms<hr />
     <h2>Adauga camera</h2>

         <label>Nume</label>
         <input data-bind="textInput: newRoomName" />
         <label>Etaj</label>
         <input data-bind="textInput: newRoomFloorName" />
         <label>Tipuri de Camere</label>
         <select class="form-control" data-bind="options: availableRoomTypes"></select>
        
         <button class="btn btn-primary" data-bind="click: addNewRoom">Adauga Camera</button><hr />
             
    <div data-bind="foreach: rooms">
        <div data-bind="text: Name + ' ' + Floor"></div>
    </div>
</div>

