
<div id="statistics" data-bind="visible: isViewVisible">

    <div class="row row-statistics">
        <div class="col-lg-4">
            <div id="chartSemiCircle1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>

        <div class="col-lg-4">
            <div id="chartSemiCircle2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>

        <div class="col-lg-4">
            <div id="chartSemiCircle3" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </div>

    </div>
   
    <div id="container"></div>



</div>

