
<div id="statistics" data-bind="visible: isViewVisible">

    <div class="container-fluid">
        <div class="row row-general-numbers">
            <div class="col-lg-3 col-md-6">
                <div class="card border border-info">
                    <div class="card-body main-statistics">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text" data-bind="text: pricesSum"></div>
                                    <div class="stat-heading">Revenue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card border border-info">
                    <div class="card-body main-statistics">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">$<span class="count">23569</span></div>
                                    <div class="stat-heading">Revenue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card border border-info">
                    <div class="card-body main-statistics">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">$<span class="count">23569</span></div>
                                    <div class="stat-heading">Revenue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card border border-info">
                    <div class="card-body main-statistics">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">$<span class="count">23569</span></div>
                                    <div class="stat-heading">Revenue</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <canvas id="leftPieChart" width="380" height="300"></canvas>
                </div>

                <div class="col-lg-6">
                    <canvas id="middleBarChart" width="400" height="180"></canvas>
                </div>

                <div class="col-lg-3">
                    <canvas id="rightLineChart" width="400" height="350"></canvas>
                </div>


            </div>
        </div>

    </div>

