<div id="menuBackend">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav fixed-top">
            <li class="sidebar-brand">
                <a href="#">
                    Meniu
                </a>
            </li>
            <li>
                <a href="#/general" >General</a>
            </li>
            <li>
                <a href="#/rooms" data-bind="click: clickRooms">Camere</a>
            </li>
            <li>
                <a href="#/statistics">Statistici</a>
            </li>
            <li>
                <a href="#/roomTypes">Tipuri Camere</a>
            </li>
            <li>
                <a href="#/employees">Angajati</a>
            </li>
            <li>
                <a href="#/jobTypes">Tipuri Job</a>
            </li>
            <li>
                <a href="#/accomodations">Rezervari</a>
            </li>
        </ul>
    </div>
</div>