<div id="menuBackend">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav fixed-top">
            <li class="sidebar-brand">
                <a href="#">
                    Meniu
                </a>
            </li>

            <li>
                <a class="menu-item" href="#/general">General <i class="fas fa-tachometer-alt"></i></a>
            </li>

            @*<li>
                <a href="#/statistics">Statistici</a>
            </li>*@

            <li>
                <a  href="#">Clienti & Rezervari</a>
                <ul role="menu">
                    <li><a class="menu-item" href="#/accomodations">Rezervari <i class="far fa-clock"></i></a></li>
                    <li><a class="menu-item" href="#/clients">Clienti <i class="fas fa-user-friends"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#" >Camere</a>
                <ul role="menu">
                    <li><a class="menu-item" href="#/rooms">Camere <i class="fas fa-door-closed"></i></a></li>
                    <li><a class="menu-item" href="#/roomTypes">Tipuri de Camere <i class="fas fa-hotel"></i></a></li>
                </ul>
            </li>

            <li>
                <a href="#">Angajati </a>
                <ul role="menu">
                    <li> <a class="menu-item" href="#/employees">Angajati <i class="fas fa-person-booth"></i></a></li>
                    <li><a class="menu-item" href="#/jobTypes">Tipuri Job <i class="fas fa-briefcase"></i></a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>
